<a href="https://colab.research.google.com/github/vunnampragathi/pragathi_data_606/blob/main/src/final_proposal_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
data = pd.read_csv("/content/uspollution_pollution_us_2000_2016.csv")

In [ ]:
data

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21.0,13.0,Parts per million,1.145833,4.2,21.0,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21.0,13.0,Parts per million,0.878947,2.2,23.0,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23.0,NaN,Parts per million,1.145833,4.2,21.0,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23.0,NaN,Parts per million,0.878947,2.2,23.0,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22.0,4.0,Parts per million,0.850000,1.6,23.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147674,56028,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-23,Parts per billion,...,Parts per billion,10.412500,22.6,17.0,NaN,Parts per million,1.275000,1.6,8.0,18.0
147675,56029,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-24,Parts per billion,...,Parts per billion,11.875000,53.0,10.0,72.0,Parts per million,1.466667,3.3,4.0,NaN
147676,56030,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-24,Parts per billion,...,Parts per billion,11.875000,53.0,10.0,72.0,Parts per million,1.575000,2.4,9.0,27.0
147677,56031,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-24,Parts per billion,...,Parts per billion,11.837500,33.3,11.0,NaN,Parts per million,1.466667,3.3,4.0,NaN
147678,56032,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Ba,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.shape

(147679, 29)

In [ ]:
data.info

<bound method DataFrame.info of         Unnamed: 0  State Code  County Code  Site Num  \
0                0           4           13      3002
1                1           4           13      3002
2                2           4           13      3002
3                3           4           13      3002
4                4           4           13      3002
...            ...         ...          ...       ...
147674       56028          22           33         9
147675       56029          22           33         9
147676       56030          22           33         9
147677       56031          22           33         9
147678       56032          22           33         9

                                        Address      State            County  \
0       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
1       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
2       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
3       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
4       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
...                                         ...        ...               ...
147674                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147675                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147676                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147677                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147678                     1061-A Leesville Ave  Louisiana  East Baton Rouge

               City  Date Local          NO2 Units  ...          SO2 Units  \
0           Phoenix  2000-01-01  Parts per billion  ...  Parts per billion
1           Phoenix  2000-01-01  Parts per billion  ...  Parts per billion
2           Phoenix  2000-01-01  Parts per billion  ...  Parts per billion
3           Phoenix  2000-01-01  Parts per billion  ...  Parts per billion
4           Phoenix  2000-01-02  Parts per billion  ...  Parts per billion
...             ...         ...                ...  ...                ...
147674  Baton Rouge  2001-01-23  Parts per billion  ...  Parts per billion
147675  Baton Rouge  2001-01-24  Parts per billion  ...  Parts per billion
147676  Baton Rouge  2001-01-24  Parts per billion  ...  Parts per billion
147677  Baton Rouge  2001-01-24  Parts per billion  ...  Parts per billion
147678           Ba         NaN                NaN  ...                NaN

         SO2 Mean  SO2 1st Max Value  SO2 1st Max Hour SO2 AQI  \
0        3.000000                9.0              21.0    13.0
1        3.000000                9.0              21.0    13.0
2        2.975000                6.6              23.0     NaN
3        2.975000                6.6              23.0     NaN
4        1.958333                3.0              22.0     4.0
...           ...                ...               ...     ...
147674  10.412500               22.6              17.0     NaN
147675  11.875000               53.0              10.0    72.0
147676  11.875000               53.0              10.0    72.0
147677  11.837500               33.3              11.0     NaN
147678        NaN                NaN               NaN     NaN

                 CO Units   CO Mean  CO 1st Max Value  CO 1st Max Hour CO AQI
0       Parts per million  1.145833               4.2             21.0    NaN
1       Parts per million  0.878947               2.2             23.0   25.0
2       Parts per million  1.145833               4.2             21.0    NaN
3       Parts per million  0.878947               2.2             23.0   25.0
4       Parts per million  0.850000               1.6             23.0    NaN
...                   ...       ...               ...              ...    ...
147674  Parts per million  1.275000               1.6              8.0   18.0
147675  Parts per million  1.466667               3.3              4.0    NaN
147676  Parts per million  1.575000               2.4              9.0   27.0
147677  Parts per million  1.466667               3.3              4.0    NaN
147678                NaN       NaN               NaN              NaN    NaN

[147679 rows x 29 columns]>

In [ ]:
data.dtypes

Unnamed: 0             int64
State Code             int64
County Code            int64
Site Num               int64
Address               object
State                 object
County                object
City                  object
Date Local            object
NO2 Units             object
NO2 Mean             float64
NO2 1st Max Value    float64
NO2 1st Max Hour     float64
NO2 AQI              float64
O3 Units              object
O3 Mean              float64
O3 1st Max Value     float64
O3 1st Max Hour      float64
O3 AQI               float64
SO2 Units             object
SO2 Mean             float64
SO2 1st Max Value    float64
SO2 1st Max Hour     float64
SO2 AQI              float64
CO Units              object
CO Mean              float64
CO 1st Max Value     float64
CO 1st Max Hour      float64
CO AQI               float64
dtype: object

In [ ]:
df=data.dropna()

In [ ]:
df.shape

(36932, 29)

In [ ]:
df['date'] = pd.to_datetime(df['Date Local']).dt.date
df['time'] = pd.to_datetime(df['Date Local']).dt.time
print("Date-time-hour-minutes :\n", df)

Date-time-hour-minutes :
         Unnamed: 0  State Code  County Code  Site Num  \
1                1           4           13      3002
5                5           4           13      3002
9                9           4           13      3002
13              13           4           13      3002
17              17           4           13      3002
...            ...         ...          ...       ...
147660       56014          22           33         9
147664       56018          22           33         9
147668       56022          22           33         9
147672       56026          22           33         9
147676       56030          22           33         9

                                        Address      State            County  \
1       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
5       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
9       1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
13      1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
17      1645 E ROOSEVELT ST-CENTRAL PHOENIX STN    Arizona          Maricopa
...                                         ...        ...               ...
147660                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147664                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147668                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147672                     1061-A Leesville Ave  Louisiana  East Baton Rouge
147676                     1061-A Leesville Ave  Louisiana  East Baton Rouge

               City  Date Local          NO2 Units  ...  SO2 1st Max Value  \
1           Phoenix  2000-01-01  Parts per billion  ...                9.0
5           Phoenix  2000-01-02  Parts per billion  ...                3.0
9           Phoenix  2000-01-03  Parts per billion  ...               11.0
13          Phoenix  2000-01-04  Parts per billion  ...               16.0
17          Phoenix  2000-01-05  Parts per billion  ...               15.0
...             ...         ...                ...  ...                ...
147660  Baton Rouge  2001-01-20  Parts per billion  ...               45.0
147664  Baton Rouge  2001-01-21  Parts per billion  ...               21.0
147668  Baton Rouge  2001-01-22  Parts per billion  ...               16.0
147672  Baton Rouge  2001-01-23  Parts per billion  ...               30.0
147676  Baton Rouge  2001-01-24  Parts per billion  ...               53.0

        SO2 1st Max Hour  SO2 AQI           CO Units   CO Mean  \
1                   21.0     13.0  Parts per million  0.878947
5                   22.0      4.0  Parts per million  1.066667
9                   19.0     16.0  Parts per million  1.762500
13                   8.0     23.0  Parts per million  1.829167
17                   7.0     21.0  Parts per million  2.700000
...                  ...      ...                ...       ...
147660               7.0     62.0  Parts per million  0.891667
147664              21.0     30.0  Parts per million  1.044444
147668              14.0     23.0  Parts per million  0.933333
147672              16.0     43.0  Parts per million  1.275000
147676              10.0     72.0  Parts per million  1.575000

        CO 1st Max Value  CO 1st Max Hour  CO AQI        date      time
1                    2.2             23.0    25.0  2000-01-01  00:00:00
5                    2.3              0.0    26.0  2000-01-02  00:00:00
9                    2.5              8.0    28.0  2000-01-03  00:00:00
13                   3.0             23.0    34.0  2000-01-04  00:00:00
17                   3.7              2.0    42.0  2000-01-05  00:00:00
...                  ...              ...     ...         ...       ...
147660               1.1             23.0    13.0  2001-01-20  00:00:00
147664               1.3              2.0    15.0  2001-01-21  00:00:00
147668               1.1              8.0    13.0  2001-01-22  00:00:00
147672               1.6              8.0    18.0  2001-01-23  00:00:00
147676               2.4              9.0    27.0  2001-01-24  00:00:00

[36932 rows x 31 columns]

<ipython-input-66-686fe78a189f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['Date Local']).dt.date
<ipython-input-66-686fe78a189f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'] = pd.to_datetime(df['Date Local']).dt.time

In [ ]:
df

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,date,time
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,9.0,21.0,13.0,Parts per million,0.878947,2.2,23.0,25.0,2000-01-01,00:00:00
5,5,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,3.0,22.0,4.0,Parts per million,1.066667,2.3,0.0,26.0,2000-01-02,00:00:00
9,9,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-03,Parts per billion,...,11.0,19.0,16.0,Parts per million,1.762500,2.5,8.0,28.0,2000-01-03,00:00:00
13,13,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-04,Parts per billion,...,16.0,8.0,23.0,Parts per million,1.829167,3.0,23.0,34.0,2000-01-04,00:00:00
17,17,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-05,Parts per billion,...,15.0,7.0,21.0,Parts per million,2.700000,3.7,2.0,42.0,2000-01-05,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147660,56014,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-20,Parts per billion,...,45.0,7.0,62.0,Parts per million,0.891667,1.1,23.0,13.0,2001-01-20,00:00:00
147664,56018,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-21,Parts per billion,...,21.0,21.0,30.0,Parts per million,1.044444,1.3,2.0,15.0,2001-01-21,00:00:00
147668,56022,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-22,Parts per billion,...,16.0,14.0,23.0,Parts per million,0.933333,1.1,8.0,13.0,2001-01-22,00:00:00
147672,56026,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-23,Parts per billion,...,30.0,16.0,43.0,Parts per million,1.275000,1.6,8.0,18.0,2001-01-23,00:00:00
147676,56030,22,33,9,1061-A Leesville Ave,Louisiana,East Baton Rouge,Baton Rouge,2001-01-24,Parts per billion,...,53.0,10.0,72.0,Parts per million,1.575000,2.4,9.0,27.0,2001-01-24,00:00:00